/* basic */
body {
  background: #e5e5e5;
  color: #999; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.bg-purple {
  background-color: #3d224d !important; }

.text-purple {
  color: #3d224d !important; }
  .text-purple:hover {
    color: #cd15d6 !important; }

/* header */
.header .navbar {
  background: #fff;
  min-height: 80px;
  z-index: 1000;
  position: relative;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }

.header,
.header .navbar {
  width: 100%; }

/* Carousel */
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-item {
  height: 32rem;
  background-color: #777; }

.carousel-caption {
  bottom: 7rem;
  z-index: 10; }

.carousel-indicators {
  bottom: 40px; }

/* gallery */
.gallery .container {
  padding-right: 0;
  padding-left: 0;
  margin-top: -50px; }

.gallery .card-header p {
  font-size: 1.5rem; }

.card-body {
  background: #F3F3F3; }

.filter_box {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px; }

.single-district {
  background: #daeddc;
  color: #fff;
  border: 2px solid #009966;
  display: block;
  text-align: center; }

.single-district h3 {
  font-weight: 700; }

.single-district p {
  font-size: 15px;
  margin: 8px; }

.single-district a {
  color: #000;
  display: block;
  padding: 15px; }

.single-district a:hover {
  color: red;
  text-decoration: none; }

/* footer */
.footer .container {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0; }

@media (max-width: 576px) {
  .carousel {
    margin-top: 75px; } }
